body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
}

.feature-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h1 {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

section>h2 {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h2,
h3 {
    color: #2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.hero-section {
    background-color: #2e2f42;
    text-align: center;
}

.hero-section h1 {
    color: #ffffff;
    margin-bottom: 48px;
}

.hero-button {
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.ourteam-section {
    background-color: #f4f4fd;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
}

.team-member {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    text-align: center;
}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-card {
    background-color: #ffffff;
}

.page-footer {
    background-color: #2e2f42;
}

.text-footer {
    color: #f4f4fd;
    max-width: 264px;
}

.portfolio-title-main {
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}